.fourth_container{
	display: grid;
	grid-template-columns: 12.5% 75% 12.5%;
	grid-template-rows: 24.73% 60.52% 14.72%;
	height: 955px;
}

.fo-zagolovok{
	grid-column: 2 / 3;
	grid-row: 1 / 2;
	text-transform: uppercase;
	font-family: "BebasNeueCyrillic";
	font-size: 48px;
	color: #484848
}

.fo-zag{
	border-left: 5px #11558f solid; 
	padding-left: 10px;
	margin-bottom: 0;
}

.foMini{
	font-size: 36px;
	color: #787878;
	margin-top: 0;
	margin-left: 10px;
}

.fo-blue{
	color: #11558f;
}

.fo-table{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
	color: #11558f;
	border-collapse: collapse;
}

.fo-table th{
	text-transform: uppercase;
	text-align: center;
	width: 18.75%;
} 

.fo-table td{
	width: 18.75%;
	height: 80px;
	text-align: center;
}

.fo-table .fo-h{
	text-align: left;
	padding-left: 10px;
	font-family: 'PFDinTextCondPro-light';
    font-size: 26px;
}

.fo-table tfoot{
	text-transform: uppercase;
		font-family: 'PFDinTextCondPro-light';
    font-size: 26px;
}

.fo-footer{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	margin: 0 auto;

}

.fo-footer button{
	background-color: #11558f;
	border: none;
	text-transform: uppercase;
	border-radius: 5px;
	padding: 10px 55px;
	font-family: 'PFDinTextCondPro-XThin';
	font-size: 26px;
	font-weight: 300;
}

tbody td{
	border: 1px #8a8b8a solid;
}

th{
	font-family: 'PFDinTextCondPro-thin';
    font-size: 30px;
}

.fo-footer a{
	text-decoration: none;
	color: #fff;
}
