@font-face{
	font-family: 'PFDinTextCondPro-italic';
	src: url('./PFDinTextCompPro-Italic.ttf') format('truetype'); 
}

@font-face{
  	font-family: "BebasNeueCyrillic";
	src: url('./Bebas_Neue_Cyrillic.ttf') format('truetype'); 
}

@font-face{
	font-family: 'PFDinTextCondPro-regular';
	src: url('./PFDinTextCompPro-Regular_0.ttf') format('truetype');
}

@font-face{
	font-family: 'PFDinTextCondPro-bold';
	src: url('./PFDinTextCompPro-Bold.ttf') format('truetype');
}

@font-face{
	font-family: 'PFDinTextCondPro-thin';
	src: url('./PFDinTextCompPro-Thin.ttf') format('truetype');
}

@font-face{
	font-family: 'PFDinTextCondPro-light';
	src: url('./PFDinTextCompPro-Light.ttf') format('truetype');
}

@font-face{
	font-family: 'PFDinTextCondPro-XThin';
	src: url('./PFDinTextCompPro-XThin.ttf') format('truetype');
}

@font-face{
	font-family: 'PFDinTextCondPro-medium';
	src: url('./PFDinTextCompPro-Medium.ttf') format('truetype');
}
