.eighth_container{
	display: grid;
	grid-template-columns: 13.43% 32.81% 40% 13.43%;
	grid-template-rows: 22.88% 28.62% 48.49%;
	height: 600px;
/*	margin: 0 auto;*/
}

.eighth_container{
	background-image: url('./../../img/8_know_exact_price/clean_car1.png');
	background-repeat: no-repeat;
/*	background-attachment: fixed;*/
/*	background-position: 100% 120%;*/
	background-position: 100% 150px;
	background-size: 49% auto;   /*змінити розмір картинки*/
	min-width: 980px;
	max-width: 1400px; 
}

.eighth_zagolovok{
	grid-column: 2 / 4;
	grid-row: 1 / 2;
	text-transform: uppercase;
	color: #484848;
	border-left: 5px #0c8fd6 solid; 
	padding-left: 5px;
	font-family: "BebasNeueCyrillic";
	font-size: 48px;
	display: block;
	height: 60px;
}

.ei-we_need{
	grid-row: 2 / 3;
	grid-column: 2 / 4;
	color: #11558f;
	text-transform: uppercase;
	font-size: 30px;
  	font-family: "PFDinTextCondPro-regular";
	margin-top: 25px;
}

.ei-zatel{
	color: #484848;
	text-transform: none;
	margin: 0;
}

.ei-form{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
	text-align: center;

}

.ei-input{
	width: 85%;
	margin: 5px auto;
	height: 35px;
	background-color: #a8a8a8;
	border: none;
	padding-left: 10px;
	color: #fff;
		font-family: "PFDinTextCondPro-italic";
		font-style: italic;
  		line-height: 0.9;
		font-size: 21px;
}

.ei-less{
	width: 83.1%;
}

.ei-l{
	width: 85%;
}


::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
    color: #fff;
    opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
    color: #fff;
}

::-ms-input-placeholder { /* Microsoft Edge */
    color: #fff;
}

.icon {
	width: 5%;
    padding: 12px 6px 9px 9px;
    background: #a8a8a8;
    color: white;
    /*min-width: 50px;*/

    text-align: center;
    display: inline;
}

.ei-button{
	margin-top: 5px;
	text-transform: uppercase;
	background-color: #11558f;
	border: #fff 1px solid;
	border-radius: 5px; 
	padding: 10px 25px;
	color: #fff;
	width: 92%;
	font-size: 23px;
	font-family: "PFDinTextCondPro-regular";
}
