.second_container{
	display: grid;
	grid-template-columns: 13.43% 17.18% 38.78% 17.18% 13.43%;
	grid-template-rows: 13.94% 24.03% 24.03% 24.03% 13.97%;
	/*height: 1040px;*/
}

.second_zagolovok{
	grid-column: 2 / 4;
	border-left: 5px #11558f solid; 
	padding-left: 5px;
}

.s-first{
	grid-column: 2 / 3;
	grid-row: 2 / 3;
}

.s-second{
	grid-column: 2 / 3;
	grid-row: 3 / 4;
}

.s-third{
	grid-column: 2 / 3;
	grid-row: 4 / 5;
}

.s-fourth{
	grid-column: 4 / 5;
	grid-row: 2 / 3;
}

.s-fifth{
	grid-column: 4 / 5;
	grid-row: 3 / 4;
}

.s-sixth{
	grid-column: 4 / 5;
	grid-row: 4 / 5;
}

.s-video{
	grid-column: 3 / 4;
	grid-row: 2 / 5;
	margin: 100px auto 0px; 
	width: 95%;
}

.s-miniH{
	color: #11558f;
	text-transform: uppercase;
}